/**
 * Adam Shannon's Personal Site
 * MIT LICENSE
 * 08/15/2009
 * Adam Shannon
 */
 
body {
	height: 99%;
	width: 99%;
}

nav {
	border: 0px solid #FFFFFF;
}

	nav h1 {
		border-bottom: 1px solid #CCCCCC;
		font-family: "Myraid Pro", Arial, Georgia;
		font-size: 2.5em;
		margin-left: 3px;
		padding-bottom: 10px;
	}
	
		nav h1 a {
			color: #000000;
			text-decoration: none;
		}
		
		nav h1 span {
			font-size: 0.35em;
		}
	
	nav span {
		font-size: 0.85em;
		font-family: "Georgia";
		font-weight: normal;
	}
		
	nav aside {
		float: right;
		margin-right: 15px;
		padding-right: 0px;
	}

article {
	font-family: "verdana", arial, sans-serif;
}

	article h2 {
		font-size: 0.90em;
		margin-left: 5%;
	}

	article p {
		border: 1px solid #CCCCCC;
		height: 100%;
		margin-left: 5%;
		padding: 10px 10px 10px 10px;
		width: 90%;
	}
	
		article p a {
			color: #0000FF;
		}
		
		article p span.indent {
			display: block;
			margin-left: 15px;
		}
	
	article ul {
		list-style-type: circle;
	}
	
		article ul li {
			margin-left: 10%;
		}